.jobs-side-filter {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   gap: 20px;

   border-radius: 0 30px 30px 0;
   background-color: #FFF;

   .side-btn {
      position: fixed;
      left: 5px;
      top: 5px;
      padding: 10px;
      background-color: #fff;
      border-radius: 10px;

      z-index: 1000;

      svg {
         width: 20px;
         height: 20px;
      }
   }

   .container {

      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;

      padding-top: 160px;


      &.full-screen {
         position: fixed;
         left: 0;
         width: 100vw;
         height: calc(100vh);
         padding-top: 100px;

         background-color: #FFF;

         display: flex;
         flex-direction: column;
         align-content: center;
         align-items: center;
         justify-content: flex-start;
         // gap: 20px;

         z-index: 1000;

         overflow-y: scroll;
      }

      &.hidden {
         // visibility: hidden;
         // opacity: 0;
         // transition: visibility 0s, opacity 0.9s linear;
         display: none;
      }


      .side-cls-btn {
         position: absolute;
         top: 0;
         right: 0;

         z-index: 10000;

         svg {
            width: 50px;
            height: 50px;
         }

      }

      .links {
         z-index: 100;
         width: 100%;

         display: flex;
         align-items: center;
         justify-content: center;
         gap: 20px;

         position: absolute;
         top: 0;

         margin-top: 10px;

         .github {
            display: flex;
            align-items: flex-end;
            height: 100%;
         }
      }

      .card {
         width: 100%;
         min-width: 250px;
         padding: 10px;
         background-color: #fff;
         overflow: hidden;

         .card-body {
            padding: 10px;
            overflow: scroll;
            max-height: 159px;
            background-color: aliceblue;
            border-radius: 3px;

            .checkbox-container {
               display: flex;
               justify-content: space-between;
               align-items: flex-start;
               padding: 0.2rem;
            }
         }

         label {
            font-size: rem(13px);
            font-weight: 400;
            color: #343434;
            margin-left: 0.5rem;

            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .count {
               font-size: rem(11px);
               background: lightgray;
               padding: 2px;
               width: 20px;
               text-align: center;
            }
         }
      }
   }


}