.job-list {
   position: relative;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   justify-content: flex-start;
   height: 100vh;

   .header-container {

      // box-shadow: 1px 0px 1px 0;
      z-index: 100;
      margin-bottom: 10px;

      .title {
         display: flex;
         justify-content: center;
         align-items: center;

         padding-top: 25px;
         font-size: rem(40px);
      }

      .refresh-date {
         text-align: center;
         padding-bottom: 20px;
      }
   }

   .job-container {

      // width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;

      // background-color: #dbdbe7;

      width: 100%;
      padding: 0px 9px;
      

      // margin-bottom: 37px;
      // height: calc(100vh - 220px);
      overflow-y: auto;

      // overflow-y: scroll;

      // @media screen and (max-width: 870px) {
      //    width: 100%;
      //    padding: 20px 9px;
      // }
   }

   .footer-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      // background-color: #dbdbe7;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      // margin-top: 10px;

      box-shadow: 1px 0px 1px 0;

      .github {
         display: flex;
         align-items: flex-end;
         // height: 100%;
      }
   }

}